{% extends "base.html" %}
{% block content %}
<section>
    {% autoescape false %}
    {% if scene.header %}
    {{ scene.header }}
    {% endif %}
    {% if trans_text %}
    <div id="trans_text">{{ trans_text }}</div>
    {% endif %}
    {{ scene.text }}
    {% endautoescape %}
    <ul id="options">
        {% for option in scene.options %}
        {% if option.min_sparkle <= user.sparkle %}
        <li><a href="{{ url_for('scene', scene_name=option.next_scene_name) }}">&#8220; {{option.text}} &#8221;</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
{% endblock %}